%section.container.mt-5.mb-5
  .row.justify-content-center
    .col-md-8{:style => "background-color:#F7E6E9"}
      .card{:style => "text-align: center"}
      %h2.card-header{:style => "color:#b83dba"} Your Profile
      %h2{:style => "background-color:#F7E6E9"}
        .card-body
          %p
            %b First Name:
            = @user.first_name
          %p
            %b Last Name:
            = @user.last_name
          %p
            %b Email:
            = @user.email
        .card-footer{:style => "background-color:#F7E6E9"}
          = link_to 'Edit', edit_profile_path
          \|
          = link_to 'Change password', edit_user_registration_path
