= form_for @node do |f|
  - if @node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @node.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    .input-group
      .input-group-prepend
        %span.input-group-text
          %span.icon.is-small.is-left
            %i.fa.fa-user
      = f.text_field :name, class:'form-control', placeholder: 'Name'
  .form-group
    = f.label :city
    .input-group
      .input-group-prepend
        %span.input-group-text
          %span.icon.is-small.is-left
            %i.fa.fa-city
      = f.text_field :city, class:'form-control', placeholder: 'City'
      = f.text_field :state, class:'form-control', placeholder: 'State'
  .form-group
    = f.label :description
    .input-group
      .input-group-prepend
        %span.input-group-text
          %span.icon.is-small.is-left
            %i.fa.fa-align-justify
      = f.text_field :description, class:'form-control'
  .actions
    = f.submit 'Save Node', class:'btn btn-outline-primary'
