%h1
  = @room.name

.row
  .col-12.col-md-3
    = render partial: 'rooms'

  .col
    %ul.list-group.chat{data:{"channel-subscribe": "room", "room-id": @room.id}}
      - @room.room_messages.each do |room_message|
        %li.list-group-item
          .row.no-gutters
            .col-3
              .text-center= image_tag room_message.user_gravatar_url, class: 'avatar'
              .text-center= room_message.user_display_name
            .col-auto.mb-1= room_message.message
            .col.text-right
              %small= room_message.created_at

    .mt-4.mb-4
      = simple_form_for @room_message, remote: true do |form|
        .input-group.mb-3
          = form.input :message, as: :string,
            wrapper: false,
            label: false,
            input_html: {class: 'chat-input'}
        .input-group-append
          = form.submit "Send", class: 'btn btn-primary chat-input'

        = form.input :room_id, as: :hidden

.d-none{data:{role: "message-template"}}
  %li.list-group-item
    .row.no-gutters
      .col-3
        .text-center= image_tag "", class: 'avatar', data:{role: "user-avatar"}
        .text-center{data: {role: "user-display-name"}}
      .col-auto.mb-1{data: {role: "message-text"}}
      .col.text-right
        %small{data: {role: "message-date"}}
